<% if (galleries.length) { %>
  <div id="container">
    <div class="row">
      <% galleries.forEach(function(folder) { %>
        <div class="col-md-3">
          <a href="/weddings_gallery?folder=<%= folder.name %>" class="thumbnail thumbnail-folder">
            <img src="<%= folder.image %>" alt="<%= folder %>">
            <p><%= folder.name %></p>
          </a>
        </div>
      <% }) %>
    </div>
  </div>
<% } %>
