<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>
    <%- include ../partials/nav.ejs %>

    <div class="container">
      <h1><%= title %></h1>

      <div class="thumbnail thumbnail-profile hidden-xs hidden-sm">
        <img src="../img/profile.jpg" alt="Diana Sheffield" />
      </div>

      <p class="double-spaced"><span class="inline-heading">meet diana.</span> Over the past twenty years,
        Soft Touch Flowers has blossomed into a wildly successful floral business. Despite the small
        company's growth, Diana works passionately to maintain a personal connection with every customer.</p>

      <p class="double-spaced"><span class="inline-heading">we leave no stone unturned</span> when you become our client. Depending on your needs, we'll work with you in order to make your event perfect.</p>

      <p class="double-spaced"><span class="inline-heading">our success is not a secret.</span> It is earned, one client at a time... We want to be your florist and would consider it an honor to have you as part of our growing client family.</p>

      <a class="button" href="/contact" role="button">Contact Us</a>
    </div>

    <%- include ../partials/pre-body-close.ejs %>
  </body>
</html>
