<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>
    <%- include ../partials/nav.ejs %>

    <div class="jumbotron j-image">
      <h1><%= title %></h1>

      <p>We pride ourselves on the personal touch added to each and every arrangement no matter how large or small the event. We would love to be a part of your next event and look forward to working with you soon!</p>
      <p><a class="button" href="/about" role="button">Learn more</a></p>
    </div>

    <%- include ../partials/pre-body-close.ejs %>
  </body>
</html>
